
		<div class="flex flex-wrap gallery">
			{% for ill in illustrazioni %}
				<div class="p-0.5 w-1/2 sm:w-1/3 md:w-1/4 xl:w-1/5 2xl:w-1/6">
					<a href="{{ ill.thumbnail.src|resize(1024) }}" class="block overflow-hidden bg-white illustration"  title="{{ ill.title }}" data-caption-title="{{ ill.title }}" data-caption-desc="© Anita Panizzolo - All rights reserved">
						<div class="relative overflow-hidden rounded shadow pb-full">
							<img class="absolute min-w-full min-h-full object-cover" src="{{ ill.thumbnail.src|resize(250, 250, 'center') }}" alt="{{ ill.title }}">
						</div>
					</a>
				</div>
			{% endfor %}
		</div>